<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="newsletter_subscriber_save_after">
        <observer name="adm_newsletteradminnotify_observer_subscribersaveafter" instance="Adm\NewsletterAdminNotify\Observer\SubscriberSaveAfter"/>
    </event>
</config>
