<!-- phpcs:ignoreFile because quote_attributes variable added dynamically -->
<!--@subject {{trans "Email alert for submitted quote request"}} @-->
<!--@vars
{
"var viewUrl":"Url for view quote",
"var customerName":"Customer Name",
"var quote.increment_id":"Quote Increment ID",
"layout handle=\"amasty_quote_email_items\" quote_id=$quote.getEntityId() area=\"frontend\"":"Quote Items Grid",
"var store.getFrontendName()":"Store Name",
"var quote.created_date_formatted":"Quote Created Date",
"var quote.submitted_date_formatted":"Quote Submitted Date",
"var remarks|escape|nl2br":"Customer Remarks",
"var quote":"Quote object",
"var quote.getEntityId()":"Quote ID"
}
@-->
{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %customer_name," customer_name=$customerName}}</p>
            <p>
                {{trans "Thank you for your quote request from %store_name." store_name=$store.getFrontendName()}}
                {{trans 'You can check the status of your quote request by <a href="%view_url">logging into your account</a>.' view_url=$viewUrl |raw}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Your Quote Request <span class="no-link">#%increment_id</span>' increment_id=$quote.increment_id |raw}}</h1>
            <p>{{trans 'Placed on <span class="no-link">%submitted_date</span>' submitted_date=$quote.submitted_date_formatted |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend remarks}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var remarks|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}

            {{depend quote_attributes}}
            <div class="amquote-table-list">
                {{var quote_attributes|raw}}
            </div>
            {{/depend}}

            {{layout handle="amasty_quote_email_items" quote_id=$quote.getEntityId() area="frontend"}}
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
